@import './images.css';
@import './header.css';
@import './theme.css';
@import './text-style.css';


.container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1fr, 8);
    grid-template-areas: "header header header header header header header header"
    "content content content content content content content content"
    "sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
    "footer footer footer footer footer footer footer footer";
}

.content{
    display: grid;
    grid-area: content;
    grid-template-columns: repeat(1fr, 2);
    grid-auto-rows: auto;
    gap: 0.8em;
    grid-template-areas: "blog-title blog-title"
    "author author"
    "post post";
}

.blog-title{
    grid-area: blog-title;
}

.author{
    grid-area: author;
}

.post{
    grid-area: post;
}