

.header{
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #efefef;
    border-radius: 3px;
    grid-area:header;
}
.title-section {
    color: #0063B2FF; 
}



.navbar{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
}

#menu ul {
    padding: 0px;
    margin-bottom: 0.2em;
}
#menu li {
    margin-right: 10px;
    text-decoration: none;
    list-style: none;
    display: inline;
}