@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700&display=swap');
:root{
    --main-background-color: #FFFFFF;
    --hd-background-color: #FAFAFA;
    --background-border: #EFEFEF;
    --text-color: #0063B2FF;
    --hover-color: #9CC3D5FF;
    --header-style: 'Roboto', sans-serif;
    --blog-style: 'Lato', sans-serif;
}

