:root{
    --main-background-color: #FFFFFF;
    --hd-background-color: #FAFAFA;
    --background-border: #EFEFEF;
    --text-color: #0063B2FF;
    --hover-color: #9CC3D5FF;
    --header-style:
    --blog-style:
    
}